<div *ngFor="let targetMarketTechnology of targetMarketsTechnologies">
  <input type="checkbox" [(ngModel)]="targetMarketTechnology.check" /> {{ targetMarketTechnology.name }}
</div>

<div>
  <button (click)="filter()">Clique</button>
</div>

<table>
  <thead>
    <tr>
      <th *ngFor="let head of headElements" scope="col">{{head}} </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of tableProducts">
      <td>{{product.name}}</td>
      <td>{{product.description}}</td>
      <td>{{product.targetMarkets}}</td>
      <td>{{product.technologies}}</td>
    </tr>
  </tbody>
</table>